@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* Header and Nav bar */

.header {
    height: 24px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    justify-content: right;

}

.header_icon{
    height: 100%;
}

nav{
    background-color: black;
    height: 104px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.cumbre_logo{
    width: 180px;
}

.nav_title{
    color:white;
    margin: 0;
    position: relative;
    bottom: -20px;
    font-weight: bold;

}

.contact_title{
    color: black;
    background-color: white;
}
.contact_title p{
    padding: 4px 20px;
    margin: 0;
}

/* First section */
.home_first{
    width: 100%;
    height: 650px;
    background-image: url("./assets/images/Se\ extinguen\ los\ glaciares.jpeg");
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donation_button{
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 12px;
    border-radius: 0 5px 5px 0;
}
.first_text{
    position: relative;
    left: -208px;
}
.first_text > p{
    font-size: 64px;
}

.first_sub{
    display: flex;
    justify-content: space-between;
    row-gap: 8px;
}


.first_sub_sub > h1{
    color: darkcyan;
    font-size: 48px;
    margin: 0;
}
.first_sub_sub > p{
    text-decoration: underline;
    text-underline-offset: 16px;
    font-weight: bold;
    font-size: 12px;

}

.first_logos{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    background-color: black;
    color: white;
    border-radius: 5px 0 0 5px;
}


/* Second Section */

.head_second{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head_second h2{
    font-size: 36px;
}

.head_second p{
    font-size: 12px;
}

.second_images{
    display: flex;
}

.left_image{
    background-image: url("./assets/images/Citlaltepetl.jpeg");
    width: 33%;
    height: 500px;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.right_image{
    background-image: url("./assets/images/iztaccihuatl.png");
    width: 67%;
    height: 500px;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}
